# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

testing/gene_id_symbol

testing/gene_indiv_mat

testing/idx.k4.txt

testing/sample_id

testing/sample_stage
